html {
  box-sizing: border-box;
  height: 100%;
}

body {
  align-items: center;
  background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4);
  display: block;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  color: rgb(5, 109, 112);
  font-family: '1stenterprises3D', 'sans-serif';
  font-weight: 900;
  height: inherit;
  justify-content: center;
}

.img {
  display: block;
  margin: auto;
  border-radius: 10px;
  border: 5px #ccc solid;
  box-shadow: #63c9b4 20px;
}

 .ul {
  display: block;
  margin: auto;
 }